cf-argo-cd:
  enabled: true
argo-cd:
  global:
    domain: argocd.lowsandbox.com
    image:
      repository: quay.io/argoproj/argocd
      tag: ""
      imagePullPolicy: IfNotPresent
    extraVolumeMounts:
      - name: <PLACEHOLDER>
        mountPath: /var/log
        subPath: <PLACEHOLDER>
    extraVolumes:
      - name: <PLACEHOLDER>
        secret:
          secretName: <PLACEHOLDER>
  configs:
    params:
      server.insecure: true
  server:
    ingress:
      enabled: false
      controller: generic
      ingressClassName: nginx
      pathType: Prefix
      path: /
      annotations:
        nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      extraTls:
        - hosts:
            - argocd.lowsandbox.com
          # Based on the ingress controller used secret might be optional
          secretName: lowsandbox-tls
